nav 
{
    margin-top: -8px;
    margin-left: -5px;
    margin-right: -5px;
    background-color: white;
    border-bottom: 1px solid lightgray ;
}

#logo
{
    margin-left: 15%;
}

body
{
    background-color: rgba(247, 247, 247, 0.664);
}

main
{
    height: 500px;
}

#lock
{
    margin-top: 20px;
    border-radius: 100%;
}

#find
{
    width: 30%;
    margin: 0 auto;
    margin-top: 60px;
    border: 1px solid lightgray;
    text-align: center;
    background-color: white;
}

#content
{
    width: 68%;
    margin :0 auto;
}

#asdf p
{
    font-size: 14px;
    color: gray;
}


input
{
    width: 100%;
    background-color: rgba(247, 247, 247, 0.664);
    border : 0.5px solid lightgray;
    padding-left: 10px;
    font-size: 13px;
    border-radius: 7px;
    margin : 0 auto;
    height: 40px;
}

#sendlink
{
    width: 100%;
    border:none;
    border-radius: 7px;
    margin : 0 auto;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: rgb(156, 221, 243);
}


#left
{
    width: 40%;
    float: left;
    border-top: 2px solid gray;
    margin-top: 10px;
}

#center
{
    float: left;
    width: 20%;
}
#right
{
    width: 40%;
    float: right;
    border-top: 2px solid gray;
    margin-top: 10px;
}



footer
{
    padding-top: 100px;
    text-align: center;
    color: gray;
}

li
{
    list-style-type: none;
    display: inline-block;
}

li a
{
    padding: 6px;
    text-align: center;
    text-decoration: none;
    color: gray;
    font-size: 14.5px;
}

#newaccount
{   
    margin-top: 40px;
}

#newaccount a
{
    margin: 0 auto;
    text-decoration: none;
    color: inherit;
}

select
{
    border:none;
}

#goback
{
    display: flex;
    height: 80px;
    background-color: rgba(247, 247, 247, 0.664);
}

#goback a
{

    margin: auto;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    color: black;
}